#@html()
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"结算管理", "perm": "", "isBack": false, "href": ""})

            #end
        #end
        #@panel()
            #@panelBody()
                #btn({"btnName":"开始结算", "icon":"fa-search", "style":"primary",  "attr":{"data-button": "search", "data-form-id": "search"}})
                #if($flag == '1')
                    <div style="margin-left: 80px;"><font style="font-size: 15px; color: #a94442; font-weight:bold;">上次结算时间：$!DateTool.format('yyyy-MM-dd HH:mm:ss', $!{lastTime})</font></div>
                    <div style="margin-left: 80px;"><font style="font-size: 15px; color: #a94442; font-weight:bold;">当前系统时间：$!DateTool.format('yyyy-MM-dd HH:mm:ss', $!{sysTime})</font></div>
                #end
                #@form("search" false "post" "invest/plan/runSettle")

                <div style="margin-left: 80px;"><font style="font-size: 15px; color: #a94442; font-weight:bold;">$!{result}</font></div>
                #end
                #@panelHeader({"title":"结算失败计划列表", "perm": "", "isBack": false, "href": ""})
                #end
                #@table()
                    #tableTHead(["序号","会员编号","计划名称","失败原因"],"", false)
                    #@tableBody($page)
                        #tableTd("$!{l.id}")
                        #tableTd("$!{l.memberId}")
                        #tableTd("$!{l.planName}")
                        #tableTd("$!{l.remark}")
                    #end
                #end
                #parse("modular/page.vm")
            #end
        #end
    #end
    #@script()
    <script>
        $(function () {
            $("#review_id").on('click', function () {
                var arr = "";
                $("[pId='all']:checked").each(function () {
                    if (arr == ""){
                        arr = $(this).val();
                    } else {
                        arr += "," + $(this).val();
                    }
                })
                alert(arr)
                window.location.href = "$!{ctx}/member/delete?id=" + arr;
            })

        })

        $(function () {
            var startTime = $('.strat-time').datepicker().on('changeDate', function(ev) {
                startTime.hide();
            }).data('datepicker');
            var endTime = $('.end-time').datepicker().on('changeDate', function(ev) {
                endTime.hide();
            }).data('datepicker');

            $('button[empty="true"]').on('click', function () {
                $("input[name='startTime']").eq(0).val($('#s_t_h').val());
                $("input[name='endTime']").eq(0).val($('#e_t_h').val());
            })
        })

        /*$.validator.setDefaults({
            submitHandler: function(form) {
                if($('#start_time').val()!=""&&$('#end_time').val()!=""){
                    if (!(new Date($('#start_time').val()).compare(new Date($('#end_time').val()), DATE_CONS.DATE_COMPARE_SMALL_EQUAL))){
                        $("#goods_prompt").html(promptInfo.prompt("结束日期不能小于开始日期"));
                        shade.hideBg("dialog");
                        return;
                    }
                }
                form.submit();
            }
        });*/
        $(document).ready(function () {
            debugger;
            $("#search").validate({
                errorPlacement: function(error, element) {
                    debugger;
                    if (element.is(":checkbox")||element.is(":radio")||element.is(".date-time")){
                        debugger;
                        error.appendTo(element.parent().parent().parent());
                    } else {
                        debugger;
                        error.insertAfter(element.parent());
                    }
                },
                onfocus: true
            });
        })
    </script>
        #jsCalculate()
        #@jsValidate("form_insert")

        #end
    #end
#end