#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"新增视频播放平台信息", "perm": "system:content:edit", "isBack": true, "href": "content/list?type=2"})
                #btn({"btnName":"保存", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "content/videoSave?type=2")
                    #formInput({"name": "平台名称"} {"name": "platName", "id": "platName","value":"$!{content.platName}" ,"required": "required", "chinese": "true","maxlength":"10","disable-space": ""})
                <div class="form-group">
                    <label class="col-sm-2 control-label">图片<font color="red">*</font>：</label>
                    <div class="col-sm-3">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail">
                                <img src="/img/add-file.png" alt="" id="goodsPic"
                                     style="max-width: 200px; max-height: 150px; line-height: 20px;"/>
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail"
                                 style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div id="btn_div_front">
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i> 选择照片</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i> 重新选择</span>
                            <input type="file" class="default" name="ghPic1" id="goodsPic" required />
                        </span>
                                <a href=" " class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i
                                        class="fa fa-trash"></i> 删除</a>
                            </div>
                        </div>
                    </div>
                </div>
                    #formInput({"name": "地址链接", "asterisk": false} {"name": "jumpUrl", "value":"$!{content.jumpUrl}" ,"id": "jumpUrl","nochinese": "true","url": "true","required": "required"})
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否禁用：</label>
                    <div class="col-sm-2">
                        #selectBS($!dict.getDictList("isUse"), ["isUse", "$!{content.isUse}", "value", "label"], false, [false, "$!{content.isUse}"])
                    </div>
                </div>
                #end
            #end
        #end
    #end
    #@script()
        #scriptSrc("/js/backstage/bootstrap-fileupload.min.js")
        #@jsValidate("form_insert")
            rules: {
                coinName: {
                    remote: {
                        url: "$!{ctx}/coin/isCoinName", type: "post", dataType: "json",
                        data: {
                        coinName: function () {return $('#coin_name').val().trim();}
                        },
                        dataFilter: function (data) {//判断控制器返回的内容
                            return data;
                        }
                    }
                }
            },
            messages: {
                coinName: {
                    remote: function () {
                        return "币种名称已存在"
                    }
                }
            },
        #end
    #end
#end