#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:member:edit", "isBack": true, "href": "manage/broadcast/list"})
                #btn({"btnName":"保存", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "manage/broadcast/save")
                <input type="hidden" name="id" value="$!{broadcast.id}">
                    #formInput({"name": "ID"} {"name": "id", "value":"$!{broadcast.id}","id": "id","readonly":"readonly"})
                    #formInput({"name": "标题"} {"name": "title", "value":"$!{broadcast.title}","id": "title","required": "required"})
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-2" for="content">内容<font color="red">*</font>：</label>
                    <div class="col-lg-3">
                        <textarea rows="4" name="content" style="width: 100%">$!{broadcast.content}</textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-2">
                        #selectBS($!dict.getDictList("broadcastState"), ["isDelete", "$!{broadcast.isDelete}", "value", "label"], false, [false, "$!{broadcast.isDelete}"])
                    </div>
                </div>
                #end
    #end
        #end
    #end
    #@script()
        #@jsValidate("form_insert")
        #end
    #end
#end