#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:content:edit", "isBack": true, "href": "manage/broadcast/list"})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "manage/broadcast/save")
                    <input type="hidden" name="id" value="$!{broadcast.id}">
                    #formInput({"name": "ID"} {"name": "id", "value":"$!{broadcast.id}","id": "id","required": "required","readonly":"readonly"})
                    #formInput({"name": "标题"} {"name": "title", "value":"$!{broadcast.title}","id": "title","required": "required","readonly":"readonly"})
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">会员级别：</label>
                        <div class="col-sm-2">
                            #selectDisabledBS($!dict.getDictList("levelSearch"), ["memberLevel", "$!{broadcast.memberLevel}", "value", "label"], false, [false, "$!{broadcast.level}"])
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">奖衔：</label>
                        <div class="col-sm-2">
                            #selectDisabledBS($!dict.getDictList("mRankSearch"), ["mrankLevel", "$!{broadcast.mrankLevel}", "value", "label"], false, [false, "$!{broadcast.mrankLevel}"])
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" for="content">内容<font color="red">*</font>：</label>
                        <div class="col-lg-3">
                            <textarea rows="4" name="content" style="width: 100%" disabled>$!{broadcast.content}</textarea>
                        </div>
                    </div>
        #end
    #end
        #end
    #end
    #@script()
        #@jsValidate("form_insert")
        #end
    #end
#end