<!DOCTYPE html>
<html lang="en">
<head>
    #parse("modular/html_css.vm")
</head>

<body class="sticky-header">
<input type="hidden" value="$!{page}" id="page_hidden_iframe">

<!--body wrapper start-->
<div class="wrapper">
    #parse("modular/prompt.vm")
    <section class="panel panel-warning" style="margin-bottom: 0px">
        <header class="panel-heading">
            发生异常
        </header>
        <div class="panel-body" style="overflow: auto;height: 90vh">
            $!{msg}
        </div>

    </section>
</div>
<!--body wrapper end-->

<!-- Placed js at the end of the document so the pages load faster -->
    #parse("modular/html_js.vm")
</body>
</html>
