#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:member:edit", "isBack": true, "href": "manage/invest/list"})
                #btn({"btnName":"提交", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "manage/invest/audit")

                <input type="hidden" name="id" value="$!{invest.id}">
                    #formInput({"name": "ID"} {"name": "id", "value":"$!{invest.id}","id": "id","required": "required","readonly":"readonly"})
                    #formInput({"name": "会员ID"} {"name": "memberId", "value":"$!{invest.memberId}","id": "memberId","required": "required","readonly":"readonly"})
                    #formInput({"name": "申请金额（元）"} {"name": "accountMoney", "value":"$!{invest.accountMoney}","id": "accountMoney","required": "required","readonly":"readonly"})
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-2" for="content">截图凭证<font color="red">*</font>：</label>
                    <div class="col-lg-3">
                        <img src=$!{invest.certificateImgSrc} style= height:50px />
                    </div>
                </div>
                    #formInput({"name": "申请时间"} {"name": "investTimeView", "value":"$!DateTool.format('yyyy-MM-dd HH:mm:ss', $!{invest.investTime})","id": "investTimeView","required": "required","readonly":"readonly"})
                <div class="form-group" >
                    <label class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-2">
                        #selectBS($!dict.getDictList("investState"), ["state", "$!{invest.state}", "value", "label"], false, [false, "$!{invest.state}"])
                    </div>
                </div>
                    #formInput({"name": "审批结果"} {"name": "approvalResult ", "value":"$!{invest.approvalResult}","id": "approvalResult","required": "required"})
                #end
    #end
        #end
    #end
    #@script()
        #@jsValidate("form_insert")
        #end
    #end
#end