#@html()
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"奖金记录", "perm": "", "isBack": false, "href": ""})
            #end
            #@panel()
                #@panelBody()
                    #@table()
                        #tableTHead(["时间", "会员编号", "会员姓名","会员级别","奖衔级别","左区业绩","右区业绩","结转业绩","左区新增业绩","右区新增业绩","直推奖","管理奖","伯乐奖","复消奖","奖衔奖","平台管理费","福利积分","总奖金"],"", false)
                        #@tableBody($page.list)
                            #set($bonus1 = 0)
                            #set($bonus2 = 0)
                            #set($bonus3 = 0)
                            #set($bonus4 = 0)
                            #set($bonus5 = 0)
                            #set($bonus6 = 0)
                            #set($bonus7 = 0)
                            #set($bonus10 = 0)
                            #set($jz = 0/0)
                            #if ($!{l.bonus1} != "")
                                #set($bonus1 = $!{l.bonus1})
                            #end
                            #if ($!{l.bonus2} != "")
                                #set($bonus2 = $!{l.bonus2})
                            #end
                            #if ($!{l.bonus3} != "")
                                #set($bonus3 = $!{l.bonus3})
                            #end
                            #if ($!{l.bonus4} != "")
                                #set($bonus4 = $!{l.bonus4})
                            #end
                            #if ($!{l.bonus5} != "")
                                #set($bonus5 = $!{l.bonus5})
                            #end
                            #if ($!{l.bonus6} != "")
                                #set($bonus6 = $!{l.bonus6})
                            #end
                            #if ($!{l.bonus7} != "")
                                #set($bonus7 = $!{l.bonus7})
                            #end
                            #if ($!{l.bonus10} != "")
                                #set($bonus10 = $!{l.bonus10})
                            #end
                            #set($total = $!{bonus1} + $!{bonus2} + $!{bonus3} + $!{bonus4} + $!{bonus5} + $!{bonus6})

                            #set($leftAmount = 0)
                            #if($!{l.tableMember.leftAmount} != "")
                                #set($leftAmount = $!{l.tableMember.leftAmount} )
                            #end
                            #set($rightAmount = 0)
                            #if($!{l.tableMember.rightAmount} != "")
                                #set($rightAmount = $!{l.tableMember.rightAmount} )
                            #end
                            #set($leftNew = 0)
                            #if($!{l.tableMember.leftNew} != "")
                                #set($leftNew = $!{l.tableMember.leftNew} )
                            #end
                            #set($rightNew = 0)
                            #if($!{l.tableMember.rightNew} != "")
                                #set($rightNew = $!{l.tableMember.rightNew} )
                            #end

                            #if($!{leftAmount} > $!{rightAmount})
                                #set($jz = $!{leftAmount} - $!{rightAmount} + "/0")
                            #end
                            #if($!{leftAmount} <= $!{rightAmount})
                                #set($jz = "0/"+($!{rightAmount} - $!{leftAmount}))
                            #end


                            #tableTd($!DateTool.format("yyyy-MM-dd", $!{l.recodeTime}))
                            #tableTd("$!{l.tableMember.memberId}")
                            #tableTd("$!{l.tableMember.reallyName}")
                            #tableTd("$!{l.tableMember.level}", {"type": "dict", "format": "level"})
                            #tableTd("$!{l.tableMember.mRank}", {"type": "dict", "format": "mRank"})
                            #tableTd("$!{leftAmount}")
                            #tableTd("$!{rightAmount}")
                            #tableTd("$!{jz}")
                            #tableTd("$!{leftNew}")
                            #tableTd("$!{rightNew}")
                            #tableTd("$!{l.bonus1}")
                            #tableTd("$!{l.bonus2}")
                            #tableTd("$!{l.bonus3}")
                            #tableTd("$!{l.bonus4}")
                            #tableTd("$!{l.bonus5}")
                            #tableTd("$!{l.bonus6}")
                            #tableTd("$!{l.bonus10}")
                            ##tableTd("$!{l.bonus7}")
                            #tableTd("$!{total}")

                            #@tableTd()
                                #@a("查看" {"href": "$!{ctx}/manage/bonus/list2?memberId=$!{l.tableMember.memberId}&start=$!DateTool.format('yyyy-MM-dd', $!{l.recodeTime})", "class": "fa fa-pencil-square-o"})#end
                            #end
                        #end
                    #end

                    #parse("modular/page.vm")
                #end
            #end
        #end
    #end


    #@script()
    <script>

    </script>
        #jsCalculate()
        #@jsValidate("form_insert")

        #end
    #end
#end