#@html()
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"管理业绩分析", "perm": "", "isBack": false, "href": ""})

                #btn({"btnName":"分析", "icon":"fa-search", "style":"primary",  "attr":{"data-button": "search", "data-form-id": "search"}})
            #end
            #@panelBody()
                #@form("search" false "post" "manage/member/analyseBatch")
                    #@divColSmNum(3)
                        #formDate({"name": "开始日期", "length": "4,8", "asterisk": false, "cl": "start-time"} {"name":
                            "start", "id": "start","dateVal": "true", "value":
                            "$!{queryVO.start}"})
                    #end
                    #@divColSmNum(3)
                        #formDate({"name": "结束日期", "length": "4,8", "asterisk": false, "cl": "end-time"} {"name":
                            "end", "id": "end","dateVal": "true", "value":
                            "$!{queryVO.end}"})
                    #end
                    #@divColSmNum(3)
                        #formInput({"name": "左区业绩开始", "length": "4,8", "asterisk": false} {"name": "leftStart", "id": "leftStart",
                            "value": "$!{queryVO.leftStart}"})
                    #end
                    #@divColSmNum(3)
                        #formInput({"name": "左区业绩结束", "length": "4,8", "asterisk": false} {"name": "leftEnd", "id": "leftEnd",
                            "value": "$!{queryVO.leftEnd}"})
                    #end
                    #@divColSmNum(3)
                        #formInput({"name": "右区业绩开始", "length": "4,8", "asterisk": false} {"name": "rightStart", "id": "rightStart",
                            "value": "$!{queryVO.rightStart}"})
                    #end
                    #@divColSmNum(3)
                        #formInput({"name": "右区业绩结束", "length": "4,8", "asterisk": false} {"name": "rightEnd", "id": "rightEnd",
                            "value": "$!{queryVO.rightEnd}"})
                    #end
                #end
            #end
        #end
        #@panel()
             #@panelBody()

                 #@table()
                     #tableTHead(["会员编号", "姓名", "直接推荐人", "上级安置人", "左区", "右区"],"", false)
                     #@tableBody($list)
                         #set($leftAmount = 0)

                         #tableTd("$!{l.memberId}")
                         #tableTd("$!{l.reallyName}")
                         #tableTd("$!{l.referenceId}")
                         #tableTd("$!{l.arrangeId}")
                         #tableTd("$!{l.leftAmount}")
                         #tableTd("$!{l.rightAmount}")
                     #end
                 #end

                 #parse("modular/page.vm")

                #end
            #end
        #end
    #end
    #@script()
    <script>
        $(function () {
            $("#review_id").on('click', function () {
                var arr = "";
                $("[pId='all']:checked").each(function () {
                    if (arr == ""){
                        arr = $(this).val();
                    } else {
                        arr += "," + $(this).val();
                    }
                })
                alert(arr)
                window.location.href = "$!{ctx}/member/delete?id=" + arr;
            })

        })

        $(function () {
            var startTime = $('.start-time').datepicker().on('changeDate', function(ev) {
                startTime.hide();
            }).data('datepicker');
            var endTime = $('.end-time').datepicker().on('changeDate', function(ev) {
                endTime.hide();
            }).data('datepicker');

            $('button[empty="true"]').on('click', function () {
                $("input[name='start']").eq(0).val($('#s_t_h').val());
                $("input[name='end']").eq(0).val($('#e_t_h').val());
            })
        })

        /*$.validator.setDefaults({
            submitHandler: function(form) {
                if($('#start_time').val()!=""&&$('#end_time').val()!=""){
                    if (!(new Date($('#start_time').val()).compare(new Date($('#end_time').val()), DATE_CONS.DATE_COMPARE_SMALL_EQUAL))){
                        $("#order_prompt").html(promptInfo.prompt("结束日期不能小于开始日期"));
                        shade.hideBg("dialog");
                        return;
                    }
                }
                form.submit();
            }
        });*/
        $(document).ready(function () {
            debugger;
            $("#search").validate({
                errorPlacement: function(error, element) {
                    debugger;
                    if (element.is(":checkbox")||element.is(":radio")||element.is(".date-time")){
                        debugger;
                        error.appendTo(element.parent().parent().parent());
                    } else {
                        debugger;
                        error.insertAfter(element.parent());
                    }
                },
                onfocus: true
            });
        })
    </script>
        #jsCalculate()
        #@jsValidate("form_insert")

        #end
    #end