#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
        <div id="divresult" style="color: red;margin-top: 20px">
            $!{member.addr}
        </div>
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:member:edit", "isBack": true, "href": "manage/member/list"})

                #btn({"btnName":"保存", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end

            #@panelBody()
                #@form("form_insert" true "post" "manage/member/register")

                    #formInput({"name": "姓名"} {"name": "reallyName", "value":"$!{member.reallyName}","id": "reallyName","required": "required"})
                    #formInput({"name": "电话"} {"name": "phone", "value":"$!{member.phone}","id": "phone","required": "required"})
                    #formInput({"name": "推荐人ID"} {"name": "referenceId", "value":"$!{member.referenceId}","id": "referenceId","required": "required"})
                    #formInput({"name": "安置人ID"} {"name": "arrangeId", "value":"$!{member.arrangeId}","id": "arrangeId","required": "required"})
                    #formInput({"name": "安置人姓名"} {"name": "arrangeName", "value":"$!{member.arrangeName}","id": "arrangeName","readonly":"readonly"})
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">安置区：</label>
                        <div class="col-sm-2">
                            #selectBS($!dict.getDictList("leftOrRight"), ["leftOrRight", "$!{member.leftOrRight}", "value", "label"], false, [false, "$!{member.leftOrRight}"])
                        </div>
                    </div>
                    #*<div class="form-group" >
                        <label class="col-sm-2 control-label">会员级别：</label>
                        <div class="col-sm-2">
                            #selectBS($!dict.getDictList("level"), ["level", "$!{member.level}", "value", "label"], false, [false, "$!{member.level}"])
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">实名认证：</label>
                        <div class="col-sm-2">
                            #selectBS($!dict.getDictList("isAut"), ["isAut", "$!{member.isAut}", "value", "label"], false, [false, "$!{member.isAut}"])
                        </div>
                    </div>*#
                #end
            #end
        #end
    #end
    #@script()
        <script>

            $(document).ready(function() {
                $("#divresult").hide()
                try{
                    if ( $!{result} == "1" ) {
                        $("#divresult").show()
                    }
                }catch (e) {
                    console.log("e")
                }

                $("#arrangeId").blur(function(){
                    console.log("获取姓名")
                    getMember()
                })

            });

            function getMember(){
                $("#arrangeName").val('')
                $.get('/api/member/getMemberInfoAjax/'+$("#arrangeId").val(), function (data) {
                    console.log("data", data)
                    $("#arrangeName").val(data.data.reallyName)
                });
            }
        </script>

        #@jsValidate("form_insert")
        #end
    #end
#end