#@html()
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"账户变更列表 搜索", "perm": "", "isBack": false, "href": ""})
                #btn({"btnName":"查询", "icon":"fa-search", "style":"primary",  "attr":{"data-button": "search", "data-form-id": "search"}})
                #btn({"btnName":"清空", "icon":"fa-trash-o", "style":"danger",  "attr":{"empty": "true", "reset-id": "reset_form"}})
            #end
            #@panelBody()
                #@form("search" false "post" "manage/account/list")
                    #@divColSmNum(3)
                        #formInput({"name": "会员ID", "length": "4,8", "asterisk": false} {"name": "memberId", "id": "memberId",
                            "value": "$!{queryVO.memberId}"})
                    #end
                    #@divColSmNum(3)
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="margin-top: 5px">货币类型：</label>
                        <div class="col-sm-7">
                            #selectBS($!dict.getDictList("bonusType"), ["accountType", "$!{queryVO.accountType}", "value", "label"], false, [true, ""])
                        </div>
                    </div>
                    #end
                    #@divColSmNum(3)
                        #formDate({"name": "开始日期", "length": "4,8", "asterisk": false, "cl": "start-time"} {"name":
                            "start", "id": "start","dateVal": "true", "value":
                            "$!{queryVO.start}"})
                    #end
                    #@divColSmNum(3)
                        #formDate({"name": "结束日期", "length": "4,8", "asterisk": false, "cl": "end-time"} {"name":
                            "end", "id": "end","dateVal": "true", "value":
                            "$!{queryVO.end}"})
                    #end

                #end
            #end
        #end
        #@panel()
             #@panelBody()
                #@table()
                    #tableTHead(["id", "会员ID", "账户类型", "变更前(元)", "变更金额(元)",  "变更更后(元)", "变更时间", "变动原因"],"", false)
                    #@tableBody($page.list)
                        #set($changeValue = $!{l.afterValue} - $!{l.beforeValue})
                        #tableTd("$!{l.id}")
                        #tableTd("$!{l.memberId}")
                        #tableTd("$!{l.accountType}", {"type": "dict", "format": "bonusType"})
                        #tableTd("$!{l.beforeValue}")
                        #tableTd("$!{changeValue}")
                        #tableTd("$!{l.afterValue}")
                        #tableTd($!DateTool.format("yyyy-MM-dd HH:mm:ss", $!{l.modifyTime}))
                        #tableTd("$!{l.remark}")
                    #end
                #end

                #parse("modular/page.vm")
            #end
        #end
    #end
    #@script()
    <script>
        $(function () {
            $("#review_id").on('click', function () {
                var arr = "";
                $("[pId='all']:checked").each(function () {
                    if (arr == ""){
                        arr = $(this).val();
                    } else {
                        arr += "," + $(this).val();
                    }
                })
                alert(arr)
                window.location.href = "$!{ctx}/member/delete?id=" + arr;
            })

        })

        $(function () {
            var startTime = $('.start-time').datepicker().on('changeDate', function(ev) {
                startTime.hide();
            }).data('datepicker');
            var endTime = $('.end-time').datepicker().on('changeDate', function(ev) {
                endTime.hide();
            }).data('datepicker');

            $('button[empty="true"]').on('click', function () {
                $("input[name='start']").eq(0).val($('#s_t_h').val());
                $("input[name='end']").eq(0).val($('#e_t_h').val());
            })
        })

        /*$.validator.setDefaults({
            submitHandler: function(form) {
                if($('#start_time').val()!=""&&$('#end_time').val()!=""){
                    if (!(new Date($('#start_time').val()).compare(new Date($('#end_time').val()), DATE_CONS.DATE_COMPARE_SMALL_EQUAL))){
                        $("#account_prompt").html(promptInfo.prompt("结束日期不能小于开始日期"));
                        shade.hideBg("dialog");
                        return;
                    }
                }
                form.submit();
            }
        });*/
        $(document).ready(function () {
            debugger;
            $("#search").validate({
                errorPlacement: function(error, element) {
                    debugger;
                    if (element.is(":checkbox")||element.is(":radio")||element.is(".date-time")){
                        debugger;
                        error.appendTo(element.parent().parent().parent());
                    } else {
                        debugger;
                        error.insertAfter(element.parent());
                    }
                },
                onfocus: true
            });
        })
    </script>
        #jsCalculate()
        #@jsValidate("form_insert")

        #end
    #end
#end