#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            $!{result}
        #end
    #end
    #@script()
        #@jsValidate("form_insert")
        #end
    #end
#end