#@html()
<link rel="stylesheet" type="text/css" href="/css/goods/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:member:view", "isBack": true, "href": "front/goods/list?goodsClass=$!{queryGoodsClass}&memberId=$!{queryVO.memberId}"})
                #btn({"btnName":"购买", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "front/order/buyIndex")
                    <input type="hidden" name="id" value="$!{goods.id}">
                    <input type="hidden" name="memberId" value="$!{queryVO.memberId}">
                    #if($!{queryVO.memberId} != "")
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">报单会员ID：</label>
                        <div class="col-sm-2" style="margin-top: 5px; font-size: large; color: red">
                            $!{queryVO.memberId}
                        </div>
                    </div>
                    #end

                    <div style="display: none">
                    #formInput({"name": "ID"} {"name": "goodsId", "value":"$!{goods.id}","id": "goodsId","required": "required","readonly":"readonly"})
                    </div>
                    #formInput({"name": "商品名"} {"name": "goodsName", "value":"$!{goods.goodsName}","id": "goodsName","required": "required","readonly":"readonly"})
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">商品类型：</label>
                        <div class="col-sm-2">
                            #selectDisabledBS($!dict.getDictList("goodsClass"), ["goodsClass", "$!{goods.goodsClass}", "value", "label"], false, [false, "$!{goods.goodsClass}"])
                        </div>
                    </div>
##                    <div class="form-group">
##                        <label class="col-sm-2 control-label col-lg-2" for="content">商品图片<font color="red">*</font>：</label>
##                        <div class="col-lg-3">
##                            <img src=$!{goods.thunmbanilImgSrc} style= height:50px />
##                        </div>
##                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label col-lg-2" for="content">商品详情图<font color="red">*</font>：</label>
                        <div class="col-lg-3" style="width: 60%">
                            <img src=$!{goods.detailImgSrc} style= width:100% />
                        </div>
                    </div>
                    #formInput({"name": "价格(元)"} {"name": "goodsprice", "value":"$!{goods.price}","id": "goodsprice","required": "required","readonly":"readonly"})
                    <div id="txhDiv">
                        <!--提现货DIV-->
                        #formInput({"name": "金蛋价格"} {"name": "scorePrice", "value":"$!{goods.scorePrice}","id": "scorePrice","readonly":"readonly"})
                    </div>
                    <div id="paramDiv">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">购买商品后获得的级别：</label>
                            <div class="col-sm-2">
                                #selectDisabledBS($!dict.getDictList("level"), ["level", "$!{goods.incomeVipLevel}", "value", "label"], false, [false, "$!{goods.incomeVipLevel}"])
                            </div>
                        </div>
##                        #formInput({"name": "购买商品后获得的三方商城积分"} {"name": "incomeDjPoint", "value":"$!{goods.incomeDjPoint}","id": "incomeDjPoint","required": "required","readonly":"readonly"})
##                        #formInput({"name": "购买商品后获得的交易系统积分"} {"name": "incomeJysPoint", "value":"$!{goods.incomeJysPoint}","id": "incomeJysPoint","required": "required","readonly":"readonly"})
##                        #formInput({"name": "可分配利润(元)"} {"name": "pePrice", "value":"$!{goods.pePrice}","id": "pePrice","required": "required","readonly":"readonly"})
##                        #formInput({"name": "赠送金鸡商品"} {"name": "extentGoodsId1", "value":"$!{jjGoods.goodsName}","id": "extentGoodsId1","readonly":"readonly"})
                        #formInput({"name": "赠送金鸡数量"} {"name": "extentGoodsCount1", "value":"$!{goods.extentGoodsCount}","id": "extentGoodsCount1","readonly":"readonly"})
                    </div>
                    <hr style="height:10px;border:none;border-top:10px groove skyblue;" />
                    <div id="paramDiv1">
                        #formInput({"name": "数量"} {"name": "amount", "value":"1","id": "amount","required": "required"})
                    </div>
                    #formInput({"name": "金额(元)"} {"name": "price", "value":"$!{goods.price}","id": "price","required": "required","readonly":"readonly"})
                    <div id="jjDiv" >
                        <hr style="height:10px;border:none;border-top:10px groove skyblue;" />
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">金鸡商品：</label>
                            <div class="col-sm-2">

                                <select data-placeholder="请选择..." class="chosen-select" style="width:100%;" cityClick="true" id="extentGoodsId" name="extentGoodsId">
                                    <option value="">请选择</option>
                                    #foreach($l in $!jjGoodsList)
                                        <option value="$l.id">$l.goodsName</option>
                                    #end
                                </select>

                            </div>
                        </div>
                        #formInput({"name": "金鸡数量"} {"name": "extentGoodsCount", "value":"","id": "extentGoodsCount"})
                    </div>
                #end
    #end
        #end
    #end
    #@script()
    <script>
        $(document).ready(function(){

            console.log("goodsClass", goodsClass)
            init($!{goods.goodsClass});

            function init(goodsClass) {

                if (goodsClass == '0' || goodsClass == undefined) {
                    $("#paramDiv").show();
                    $("#paramDiv1").hide();
                    $("#jjDiv").hide();
                    $("#txhDiv").hide();
                } else if (goodsClass == '1') {
                    //复消商品也不让买金鸡
                    $("#jjDiv").hide();
                    $("#paramDiv").hide();
                    $("#txhDiv").hide();
                } else if (goodsClass == '2') {
                    $("#txhDiv").show();
                    $("#jjDiv").hide();
                    $("#paramDiv").hide();
                } else {
                    $("#paramDiv").hide();
                    $("#jjDiv").hide();
                    $("#txhDiv").hide();
                    // $("#incomeVipLevel").val("");
                    // $("#incomeDjPoint").val("");
                    // $("#incomeJysPoint").val("");
                    //$("#pePrice").val("");
                }



            }

            $("#amount").change(function(){
                if ($("#goodsClass").val() == 0) {

                    if (!(/(^[1-9]\d*$)/.test($("#amount").val()))) {
                        $("#amount").val(1)
                        alert("购买数量必须是数字");
                        return
                    }

                    if ($("#amount").val() != 1) {
                        $("#amount").val(1)
                        alert("报单商品只能购买一个");
                        return
                    }
                }
                $("#price").val($("#amount").val() * $("#goodsprice").val())
            });
        });

    </script>
        #@jsValidate("form_insert")

        #end
    #end
#end