#@html()
<link rel="stylesheet" type="text/css" href="/css/goods/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:member:view", "isBack": true, "href": "front/goods/list"})
                #btn({"btnName":"购买", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "front/order/buyIndex")
                    <input type="hidden" name="id" value="$!{goods.id}">
                    #formInput({"name": "ID"} {"name": "goodsId", "value":"$!{goods.id}","id": "goodsId","required": "required","readonly":"readonly"})
                    #formInput({"name": "商品名"} {"name": "goodsName", "value":"$!{goods.goodsName}","id": "goodsName","required": "required","readonly":"readonly"})
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">商品类型：</label>
                        <div class="col-sm-2">
                            #selectDisabledBS($!dict.getDictList("goodsClass"), ["goodsClass", "$!{goods.goodsClass}", "value", "label"], false, [false, "$!{goods.goodsClass}"])
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" for="content">商品图片<font color="red">*</font>：</label>
                        <div class="col-lg-3">
                            <img src=$!{goods.thunmbanilImgSrc} style= height:50px />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" for="content">商品详情图<font color="red">*</font>：</label>
                        <div class="col-lg-3">
                            <img src=$!{goods.detailImgSrc} style= width:100% />
                        </div>
                    </div>
                    #formInput({"name": "价格"} {"name": "goodsprice", "value":"$!{goods.price}","id": "goodsprice","required": "required","readonly":"readonly"})
                    #formInput({"name": "购买商品后获得的级别"} {"name": "incomeVipLevel", "value":"$!{goods.incomeVipLevel}","id": "incomeVipLevel","required": "required","readonly":"readonly"})
                    #formInput({"name": "购买商品后获得的三方商城积分"} {"name": "incomeDjPoint", "value":"$!{goods.incomeDjPoint}","id": "incomeDjPoint","required": "required","readonly":"readonly"})
                    #formInput({"name": "购买商品后获得的交易系统积分"} {"name": "incomeJysPoint", "value":"$!{goods.incomeJysPoint}","id": "incomeJysPoint","required": "required","readonly":"readonly"})
                    #formInput({"name": "可分配利润"} {"name": "pePrice", "value":"$!{goods.pePrice}","id": "pePrice","required": "required","readonly":"readonly"})
                    <hr style="height:10px;border:none;border-top:10px groove skyblue;" />
                    #formInput({"name": "数量"} {"name": "amount", "value":"1","id": "amount","required": "required"})
                    #formInput({"name": "金额"} {"name": "price", "value":"$!{goods.price}","id": "price","required": "required","readonly":"readonly"})
        #end
    #end
        #end
    #end
    #@script()
    <script>
        $(document).ready(function(){
            $("#amount").change(function(){
                if ($("#goodsClass").val() == 0) {

                    if (!(/(^[1-9]\d*$)/.test($("#amount").val()))) {
                        $("#amount").val(1)
                        alert("购买数量必须是数字");
                        return
                    }

                    if ($("#amount").val() != 1) {
                        $("#amount").val(1)
                        alert("报单商品只能购买一个");
                        return
                    }
                }
                $("#price").val($("#amount").val() * $("#goodsprice").val())
            });
        });

    </script>
        #@jsValidate("form_insert")

        #end
    #end
#end