#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
<style type="text/css">
    b {
        border:0px;
        background:none;
    }
</style>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:content:edit", "isBack": false, "href": "manage/member/list"})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "front/member/edit")
                <input type="hidden" name="id" value="$!{member.id}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">会员ID<font color="red">*</font>：</label>
                    <div class="col-sm-3" style="margin-top: 5px">
                        $!{member.memberId}
                    </div>
                    <label class="col-sm-2 control-label">会员级别：</label>
                    <div class="col-sm-3">
                        #selectDisabledBS($!dict.getDictList("level"), ["level", "$!{member.level}", "value", "label"], false, [false, "$!{member.level}"])
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名<font color="red">*</font>：</label>
                    <div class="col-sm-3" style="margin-top: 5px">
                        $!{member.reallyName}
                    </div>
                    <label class="col-sm-2 control-label" >电话<font color="red">*</font>：</label>
                    <div class="col-sm-3" style="margin-top: 5px">
                        $!{member.phone}
                    </div>
                </div>
##                <div class="form-group">
##                    <label class="col-sm-2 control-label">推荐人ID<font color="red">*</font>：</label>
##                    <div class="col-sm-3" style="margin-top: 5px">
##                        $!{member.referenceId}
##                    </div>
##                    <label class="col-sm-2 control-label" >安置人ID<font color="red">*</font>：</label>
##                    <div class="col-sm-3" style="margin-top: 5px">
##                        $!{member.arrangeId}
##
##                    </div>
##                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">会员奖衔：</label>
                    <div class="col-sm-3">
                        #selectDisabledBS($!dict.getDictList("mRank"), ["level", "$!{member.mRank}", "value", "label"], false, [false, "$!{member.mRank}"])
                    </div>
                    <label class="col-sm-2 control-label">实名制：</label>
                    <div class="col-sm-2">
                        #selectDisabledBS($!dict.getDictList("autFlag"), ["autFlag", "$!{member.autFlag}", "value", "label"], false, [false, "$!{member.autFlag}"])
                    </div>
                    #if ($!{member.autFlag} == "0")
                    <div class="col-sm-1">
                        #btn({"btnName":"去实名", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
                    </div>
                    #end
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">银行卡号<font color="red">*</font>：</label>
                    <div class="col-sm-3" style="margin-top: 5px">
                        $!{member.bankCardId}
                    </div>
                    <label class="col-sm-2 control-label" >开户行名字<font color="red">*</font>：</label>
                    <div class="col-sm-3" style="margin-top: 5px">
                        $!{member.bankName}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">银行卡开户行地址<font color="red">*</font>：</label>
                    <div class="col-sm-3" style="margin-top: 5px">
                        $!{member.bankOpenAre}
                    </div>
                </div>
##                <div class="form-group">
##                    <label class="col-sm-2 control-label">左右区标识：</label>
##                    <div class="col-sm-3">
##                        #selectDisabledBS($!dict.getDictList("leftOrRight"), ["isAut", "$!{member.leftOrRight}", "value", "label"], false, [false, "$!{member.leftOrRight}"])
##                    </div>
##
##                </div>


        #end
    #end
        #end
    #end
    #@script()
        #@jsValidate("form_insert")
        #end
    #end

#end