#@html()
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"累计发放奖金", "perm": "", "isBack": false, "href": ""})
            #end
            #@panelBody()

                #@table()
                    #tableTHead(["直推", "组织", "伯乐", "重消", "奖衔"],"", false)
                    #@tableBody($all)
                        #tableTd("$!{l.bonusReference}")
                        #tableTd("$!{l.bonusGroup}")
                        #tableTd("$!{l.bonusBole}")
                        #tableTd("$!{l.bonusRepurchase}")
                        #tableTd("$!{l.bonusRank}")
                    #end
                #end
            #end
        #end
        #@panel()
            #@panelHeader({"title":"当月发放奖金", "perm": "", "isBack": false, "href": ""})
            #end
            #@panelBody()
                #@table()
                    #tableTHead(["直推", "组织", "伯乐", "重消", "奖衔"],"", false)
                    #@tableBody($thisMonth)
                        #tableTd("$!{l.bonusReference}")
                        #tableTd("$!{l.bonusGroup}")
                        #tableTd("$!{l.bonusBole}")
                        #tableTd("$!{l.bonusRepurchase}")
                        #tableTd("$!{l.bonusRank}")
                    #end
                #end
            #end
        #end
        #@panel()
            #@panelHeader({"title":"昨日发放奖金", "perm": "", "isBack": false, "href": ""})
            #end
            #@panelBody()
                #@table()
                    #tableTHead(["直推", "组织", "伯乐"],"", false)
                    #@tableBody($yesterday)
                        #tableTd("$!{l.bonusReference}")
                        #tableTd("$!{l.bonusGroup}")
                        #tableTd("$!{l.bonusBole}")
                    #end
                #end
            #end
        #end
        #@panel()
        <div id="loadPage"
             style="display:none;position:absolute; left:-1px; top:1px; width:100%; height:200%;moz-opacity: 0.3;filter:Alpha(opacity=50); opacity: 0.3; background-color:#555; z-index:1000;">
            <img src="/img/load.gif" style="position: fixed;left: 38%;top:15%;"></img>
        </div>
            #@panelHeader({"title":"结算", "perm": "", "isBack": false, "href": ""})
            #end
            #@panelBody()
                #@form("form_insert1" true "post" "manage/settle/settle")

                <div class="form-group" >
                    <label class="col-sm-3 control-label" style="margin-top: 5px">直推/组织/伯乐：</label>
                    <div class="col-sm-2" style="margin-top: 10px">
                        <button onclick="settle1()" type="button">日结</button>

                    </div>
                    <input type="hidden" name="settleType" value="1">
                </div>
                #end
                #@form("form_insert3" true "post" "manage/settle/settle")

                <div class="form-group" >
                    <label class="col-sm-3 control-label" style="margin-top: 5px">复消/奖衔：</label>
                    <div class="col-sm-2" style="margin-top: 10px">
                        <button onclick="settle3()" type="button">月结</button>
                    </div>
                    <input type="hidden" name="settleType" value="3">
                </div>
                #end
            #end
        #end
        #@panel()
            #@panelHeader({"title":"结算记录 搜索", "perm": "", "isBack": false, "href": ""})
                #btn({"btnName":"查询", "icon":"fa-search", "style":"primary",  "attr":{"data-button": "search", "data-form-id": "search"}})
                #btn({"btnName":"清空", "icon":"fa-trash-o", "style":"danger",  "attr":{"empty": "true", "reset-id": "reset_form"}})
            #end
            #@panelBody()
                #@form("search" false "post" "manage/balance/list")
                    #@divColSmNum(3)
                        #formDate({"name": "开始日期", "length": "4,8", "asterisk": false, "cl": "start-time"} {"name":
                            "start", "id": "start","dateVal": "true", "value":
                            "$!{queryVO.start}"})
                    #end
                    #@divColSmNum(3)
                        #formDate({"name": "结束日期", "length": "4,8", "asterisk": false, "cl": "end-time"} {"name":
                            "end", "id": "end","dateVal": "true", "value":
                            "$!{queryVO.end}"})
                    #end
                    #@divColSmNum(3)
                    <div class="form-group">
                        <label class="col-sm-4 control-label">结算类型：</label>
                        <div class="col-sm-5" style="width: 200px;">
                            #selectBS($!dict.getDictList("balanceType"), ["balanceType", "$!{queryVO.balanceType}", "value", "label"], false, [true, ""])
                        </div>
                    </div>
                    #end
                    #@divColSmNum(3)
                    <div class="form-group">
                        <label class="col-sm-4 control-label">结算状态：</label>
                        <div class="col-sm-5" style="width: 200px;">
                            #selectBS($!dict.getDictList("closeFlag"), ["closeFlag", "$!{queryVO.closeFlag}", "value", "label"], false, [true, ""])
                        </div>
                    </div>
                    #end
                #end
            #end
        #end
        #@panel()
             #@panelBody()
                #@table()
                    #tableTHead([ "业绩时间", "结算时间", "结算人", "结算状态", "结算类型", "直推奖金(元)", "管理奖金(元)", "伯乐奖金(元)", "重消奖励(元)", "奖衔奖励(元)", "平台管理费(元)", "福利积分(元)"],"", false)
                    #@tableBody($page.list)

                        #set($time = $!DateTool.format("yyyy-MM-dd", $!{l.lastTime}))

                        #set($close = "")
                        #if ($!{l.closeFlag} == 0)
                            #set($close = "待发放")
                        #end
                        #if ($!{l.closeFlag} == 1)
                            #set($close = "已发放")
                        #end
                        #if ($!{l.balanceType} == "3")
                            #set($close = "")
                        #end
                        #tableTd("$!{l.settleDate}")
                        #tableTd($!DateTool.format("yyyy-MM-dd HH:mm:ss", $!{l.lastTime}))
                        #tableTd("$!{l.adminId}")
                        #tableTd("$!{close}")
                        #tableTd("$!{l.balanceType}", {"type": "dict", "format": "balanceType"})
                        #tableTd("$!{l.bonusReference}")
                        #tableTd("$!{l.bonusGroup}")
                        #tableTd("$!{l.bonusBole}")
                        #tableTd("$!{l.bonusRepurchase}")
                        #tableTd("$!{l.bonusRank}")
                        #tableTd("$!{l.bonnusAdminCost}")
                        #tableTd("$!{l.bonusCar}")
                        #@tableTd()
                            <a onclick="show('$!{time}')" class="fa fa-edit"
                               title="查看"> 查看</a>
                            #if ($!{l.closeFlag} == 0)
                            <a href="$!{ctx}/manage/balance/close?id=$!{l.id}" class="fa fa-edit"
                               confirm="true" message="确定发放吗" title="奖金发放"> 发放</a>
                            #end
                        #end
                    #end
                #end

                #parse("modular/page.vm")
            #end

            <div id="light" class="white_content">
                <div style="text-align: right; position: relative; margin-right: -30px; margin-top: -30px;">
                    <img src="/img/x.png" style="width: 30px; height: 30px" onclick="hid()">
                </div>
                <iframe id="bonusList" src="" width="100%" height="98%"></iframe>
            </div>
            <div id="fade" class="black_overlay"></div>
        #end
    #end
    #@script()
    <script>

        function settle1() {

            $("#loadPage").show();
            $("#form_insert1").submit();
        }
        function settle2() {
            $("#loadPage").show();
            $("#form_insert2").submit();
        }
        function settle3() {
            $("#loadPage").show();
            $("#form_insert3").submit();
        }

        $(function () {
            $("#review_id").on('click', function () {
                var arr = "";
                $("[pId='all']:checked").each(function () {
                    if (arr == ""){
                        arr = $(this).val();
                    } else {
                        arr += "," + $(this).val();
                    }
                })
                alert(arr)
                window.location.href = "$!{ctx}/member/delete?id=" + arr;
            })

        })

        $(function () {
            var startTime = $('.start-time').datepicker().on('changeDate', function(ev) {
                startTime.hide();
            }).data('datepicker');
            var endTime = $('.end-time').datepicker().on('changeDate', function(ev) {
                endTime.hide();
            }).data('datepicker');

            $('button[empty="true"]').on('click', function () {
                $("input[name='start']").eq(0).val($('#s_t_h').val());
                $("input[name='end']").eq(0).val($('#e_t_h').val());
            })
        })

        /*$.validator.setDefaults({
            submitHandler: function(form) {
                if($('#start_time').val()!=""&&$('#end_time').val()!=""){
                    if (!(new Date($('#start_time').val()).compare(new Date($('#end_time').val()), DATE_CONS.DATE_COMPARE_SMALL_EQUAL))){
                        $("#goods_prompt").html(promptInfo.prompt("结束日期不能小于开始日期"));
                        shade.hideBg("dialog");
                        return;
                    }
                }
                form.submit();
            }
        });*/
        $(document).ready(function () {
            debugger;
            $("#search").validate({
                errorPlacement: function(error, element) {
                    debugger;
                    if (element.is(":checkbox")||element.is(":radio")||element.is(".date-time")){
                        debugger;
                        error.appendTo(element.parent().parent().parent());
                    } else {
                        debugger;
                        error.insertAfter(element.parent());
                    }
                },
                onfocus: true
            });
        })

        function show(start){
          //  alert(start)
            document.getElementById('light').style.display='block';
            document.getElementById('bonusList').src = "../bonus/listEveryDay2?start="+start+"&end="+start
            //document.getElementById('fade').style.display='block';
        }

        function hid(){
            document.getElementById('light').style.display='none';
            document.getElementById('bonusList').src = ""
            //document.getElementById('fade').style.display='block';
        }

    </script>
        #jsCalculate()
        #@jsValidate("form_insert")

        #end
    #end
#end

<style>
    .black_overlay{
        margin-bottom: -850px;
        display: none;
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 600px;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=88);
    }
    .white_content {
        display: none;
        position: absolute;
        bottom: -800px;
        left: 2%;
        width: 95%;
        height: 75%;
        padding: 20px;
        border: 5px solid #8B91A0;
        background-color: white;
        z-index:1002;
        overflow: none;
    }
</style>