#@html()
<link rel="stylesheet" type="text/css" href="/css/cashout/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:member:view", "isBack": true, "href": "front/cashout/list"})
                #btn({"btnName":"保存", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "front/cashout/save")
                    <input type="hidden" name="id" value="$!{cashout.id}">

                    #formInput({"name": "金额"} {"name": "amount", "value":"$!{cashout.amount}","id": "amount","required": "required"})
                    #formInput({"name": "姓名"} {"name": "memberName", "value":"$!{cashout.memberName}","id": "memberName","required": "required"})
                    #formInput({"name": "银行卡号"} {"name": "bankCardId", "value":"$!{cashout.bankCardId}","id": "bankCardId","required": "required"})
                    #formInput({"name": "开户行名字"} {"name": "bankName", "value":"$!{cashout.bankName}","id": "bankName","required": "required"})
                    #formInput({"name": "银行卡开户行地址"} {"name": "bankOpenAre", "value":"$!{cashout.bankOpenAre}","id": "bankOpenAre","required": "required"})

                <div class="form-group">
                    <label class="col-sm-2 control-label">可提现金额：</label>
                    <div class="col-sm-2" style="margin-top: 5px">
                        $!{member.accountMoney}
                    </div>
                </div>
        #end
    #end
        #end
    #end
    #@script()

        #@jsValidate("form_insert")

        #end
    #end
#end
