#@html()
<link rel="stylesheet" type="text/css" href="/css/cashout/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:member:view", "isBack": true, "href": "front/cashout/list"})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "front/cashout/save")
                    <input type="hidden" name="id" value="$!{cashout.id}">

                    #formInput({"name": "金额"} {"name": "amount", "value":"$!{cashout.amount}","id": "amount","required": "required","readonly":"readonly"})
                    #formInput({"name": "姓名"} {"name": "memberName", "value":"$!{cashout.memberName}","id": "memberName","required": "required","readonly":"readonly"})
                    #formInput({"name": "银行卡号"} {"name": "bankCardId", "value":"$!{cashout.bankCardId}","id": "bankCardId","required": "required","readonly":"readonly"})
                    #formInput({"name": "开户行名字"} {"name": "bankName", "value":"$!{cashout.bankName}","id": "bankName","required": "required","readonly":"readonly"})
                    #formInput({"name": "银行卡开户行地址"} {"name": "bankOpenAre", "value":"$!{cashout.bankOpenAre}","id": "bankOpenAre","required": "required","readonly":"readonly"})
                    #formInput({"name": "申请时间"} {"name": "createTime1", "value":"$!DateTool.format('yyyy-MM-dd HH:mm:ss', $!{cashout.createTime})","id": "createTime","required": "required","readonly":"readonly"})
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">状态：</label>
                        <div class="col-sm-2">
                            #selectDisabledBS($!dict.getDictList("cashoutState"), ["investState", "$!{cashout.auditState}", "value", "label"], false, [false, "$!{cashout.auditState}"])
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" for="content">打款凭证<font color="red">*</font>：</label>
                        <div class="col-lg-3">
                            <img src=$!{cashout.auditImage} onClick="show(this)" style= height:350px />
                        </div>
                    </div>


                    #formInput({"name": "审批时间"} {"name": "auditTime1", "value":"$!DateTool.format('yyyy-MM-dd HH:mm:ss', $!{cashout.auditTime})","id": "auditTime","required": "required","readonly":"readonly"})

                <div id="light" class="white_content">
                    <image id="showImg" src="" style="width:100%" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"></div>
                <div id="fade" class="black_overlay"></div>
        #end
    #end
        #end
    #end
    #@script()

    <script>

        function show(obj){
            document.getElementById('light').style.display='block';
            document.getElementById('fade').style.display='block';
            document.getElementById('showImg').src = obj.src;
            console.log("图片信息：", obj.src)
        }

    </script>


        #@jsValidate("form_insert")

        #end
    #end
#end

<style>
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=88);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 55%;
        height: 55%;
        padding: 20px;
        border: 5px solid #ff4c00;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
</style>