#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:member:edit", "isBack": true, "href": "manage/goods/list"})
                #btn({"btnName":"保存", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "manage/goods/save")

                    #formInput({"name": "ID"} {"name": "id", "value":"$!{goods.id}","id": "id", "readonly":"readonly"})
                    #formInput({"name": "商品名"} {"name": "goodsName", "value":"$!{goods.goodsName}","id": "goodsName","required": "required"})
                <div class="form-group" >
                    <label class="col-sm-2 control-label">商品类型：</label>
                    <div class="col-sm-2">
                        #selectBS($!dict.getDictList("goodsClass"), ["goodsClass", "$!{goods.goodsClass}", "value", "label"], false, [false, "$!{goods.goodsClass}"])
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品图片<font color="red">*</font>：</label>
                    <div class="col-sm-3">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" >
                                <img src="$!{goods.thunmbanilImgSrc}" alt="" id="thunmbanilImgSrc" value="$!{goods.thunmbanilImgSrc}"
                                     style="max-width: 200px; max-height: 150px; line-height: 20px;"/>
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail"
                                 style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div id="btn_div_front">
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i> 选择照片</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i> 重新选择</span>
                            <input type="file" class="default" name="thumbnialImgSrcFile" id="thunmbanilImgSrc"  />
                        </span>
                                <a href=" " class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i
                                        class="fa fa-trash"></i> 删除</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品详情图<font color="red">*</font>：</label>
                    <div class="col-sm-3">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" >
                                <img src="$!{goods.detailImgSrc}" alt="" id="detailImgSrc"  value="$!{goods.detailImgSrc}"
                                     style="max-width: 200px; max-height: 150px; line-height: 20px;"/>
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail"
                                 style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div id="btn_div_front">
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i> 选择照片</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i> 重新选择</span>
                            <input type="file" class="default" name="detailImgSrcFile" id="detailImgSrc"  />
                        </span>
                                <a href=" " class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i
                                        class="fa fa-trash"></i> 删除</a>
                            </div>
                        </div>
                    </div>
                </div>
                    #formInput({"name": "价格(元)"} {"name": "price", "value":"$!{goods.price}","id": "price","required": "required"})
                    <div id="paramDiv">
                        <!--报单商品DIV-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">购买商品后获得的级别：</label>
                            <div class="col-sm-2">
                                #selectBS($!dict.getDictList("level"), ["incomeVipLevel", "$!{goods.incomeVipLevel}", "value", "label"], false, [false, "$!{goods.incomeVipLevel}"])
                            </div>
                        </div>
                        #formInput({"name": "购买商品后获得的三方商城积分"} {"name": "incomeDjPoint", "value":"$!{goods.incomeDjPoint}","id": "incomeDjPoint"})
                        #formInput({"name": "购买商品后获得的交易系统积分"} {"name": "incomeJysPoint", "value":"$!{goods.incomeJysPoint}","id": "incomeJysPoint"})
                        #formInput({"name": "可分配利润(元)"} {"name": "pePrice", "value":"$!{goods.pePrice}","id": "pePrice"})
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">赠送金鸡商品：</label>
                            <div class="col-sm-2">

                                <select data-placeholder="请选择..." class="chosen-select" style="width:100%;" cityClick="true" id="extentGoodsId" name="extentGoodsId">
                                    <option value="">请选择</option>
                                    #foreach($l in $!jjGoodsList)
                                        #if($!{goods.extentGoodsId} == $l.id)
                                        <option value="$l.id" selected>$l.goodsName</option>
                                        #else
                                        <option value="$l.id">$l.goodsName</option>
                                        #end
                                    #end
                                </select>

                            </div>
                        </div>
                        #formInput({"name": "赠送金鸡数量"} {"name": "extentGoodsCount", "value":"$!{goods.extentGoodsCount}","id": "extentGoodsCount"})
                    </div>
                    <div id="jjDiv">
                        <!--金鸡商品DIV-->
                        #formInput({"name": "每天产生金蛋数量"} {"name": "addScore", "value":"1","id": "addScore", "readonly":"readonly"})
                    </div>
                    <div id="txhDiv">
                        <!--提现货DIV-->
                        #formInput({"name": "金蛋价格"} {"name": "scorePrice", "value":"$!{goods.scorePrice}","id": "scorePrice"})
                    </div>
                #end
    #end
        #end
    #end
    #@script()
        #scriptSrc("/summernote/summernote.js")
        #scriptSrc("/summernote/lang/summernote-zh-CN.js")
        #scriptSrc("/js/backstage/bootstrap-fileupload.min.js")


    <script>

        $(document).ready(function() {

            $("#goodsClass").change(function(){
                init($("#goodsClass").val());
            });

            init($!{goods.goodsClass});

            function init(goodsClass){
                console.log("goodsClass", goodsClass)
                if(goodsClass == '0' || goodsClass == undefined) {
                    //报单商品
                    $("#paramDiv").show();
                    $("#txhDiv").hide();
                    $("#jjDiv").hide();
                    $("#addScore").val("");
                    $("#scorePrice").val("");
                }else if(goodsClass == '3') {
                    //金鸡商品
                    $("#jjDiv").show();

                    $("#paramDiv").hide();
                    $("#txhDiv").hide();

                    $("#scorePrice").val("");
                    $("#incomeVipLevel").val("");
                    $("#incomeDjPoint").val("");
                    $("#incomeJysPoint").val("");
                    $("#pePrice").val("");
                    $("#extentGoodsId").val("");
                    $("#extentGoodsCount").val("");
                }else if(goodsClass == '2') {
                    //提现货商品
                    $("#txhDiv").show();
                    $("#jjDiv").hide();
                    $("#paramDiv").hide();

                    $("#addScore").val("");
                    $("#incomeVipLevel").val("");
                    $("#incomeDjPoint").val("");
                    $("#incomeJysPoint").val("");
                    $("#pePrice").val("");
                    $("#extentGoodsId").val("");
                    $("#extentGoodsCount").val("");
                }else{
                    //复消商品
                    $("#paramDiv").hide();
                    $("#jjDiv").hide();
                    $("#txhDiv").hide();

                    $("#addScore").val("");
                    $("#scorePrice").val("");
                    $("#incomeVipLevel").val("");
                    $("#incomeDjPoint").val("");
                    $("#incomeJysPoint").val("");
                    $("#pePrice").val("");
                    $("#extentGoodsId").val("");
                    $("#extentGoodsCount").val("");
                }

            }

            $('.summernote').summernote({
//                toolbar: [
//                    ['style', ['bold', 'italic', 'underline']],
//                    ['fontsize', ['fontsize']],
//                    ['para', ['paragraph']],
//                    ['height', ['height']]
//                ],
                height: 400,
                tabsize: 2,
                lang: 'zh-CN',
                callbacks: {
                    onImageUpload: function(files) {
                        //上传图片到服务器，使用了formData对象，至于兼容性...据说对低版本IE不太友好
                        var formData = new FormData();
                        formData.append('file',files[0]);
                        $.ajax({
                            url : '$!{ctx}/notice/upload',//后台文件上传接口
                            type : 'POST',
                            data : formData,
                            processData : false,
                            contentType : false,
                            success : function(data) {
//                            alert(data);
                                $('#summernote').summernote('insertImage',data,'img');
                            }
                        });
                    }
                }

            });


        });

    </script>
        #@jsValidate("form_insert")
        #end
    #end
#end