#@html()
<link rel="stylesheet" type="text/css" href="/css/goods/bootstrap-fileupload.min.css"/>
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"$!{funTitle}", "perm": "system:content:edit", "isBack": true, "href": "manage/goods/list"})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "manange/goods/save")
                    <input type="hidden" name="id" value="$!{goods.id}">
                    #formInput({"name": "ID"} {"name": "id", "value":"$!{goods.id}","id": "id","required": "required","readonly":"readonly"})
                    #formInput({"name": "商品名"} {"name": "goodsName", "value":"$!{goods.goodsName}","id": "goodsName","required": "required","readonly":"readonly"})
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">商品类型：</label>
                        <div class="col-sm-2">
                            #selectDisabledBS($!dict.getDictList("goodsClass"), ["goodsClass", "$!{goods.goodsClass}", "value", "label"], false, [false, "$!{goods.goodsClass}"])
                        </div>
                    </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">商品状态：</label>
                    <div class="col-sm-2">
                        #selectDisabledBS($!dict.getDictList("goodsState"), ["state", "$!{goods.state}", "value", "label"], false, [false, "$!{goods.state}"])
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" for="content">商品图片<font color="red">*</font>：</label>
                        <div class="col-lg-3">
                            <img src=$!{goods.thunmbanilImgSrc} style= height:50px />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" for="content">商品详情图<font color="red">*</font>：</label>
                        <div class="col-lg-3">
                            <img src=$!{goods.detailImgSrc} style= width:100% />
                        </div>
                    </div>
                    #formInput({"name": "价格"} {"name": "price", "value":"$!{goods.price}","id": "price","required": "required","readonly":"readonly"})
                    #formInput({"name": "购买商品后获得的级别"} {"name": "incomeVipLevel", "value":"$!{goods.incomeVipLevel}","id": "incomeVipLevel","required": "required","readonly":"readonly"})
                    #formInput({"name": "购买商品后获得的三方商城积分"} {"name": "incomeDjPoint", "value":"$!{goods.incomeDjPoint}","id": "incomeDjPoint","required": "required","readonly":"readonly"})
                    #formInput({"name": "购买商品后获得的交易系统积分"} {"name": "incomeJysPoint", "value":"$!{goods.incomeJysPoint}","id": "incomeJysPoint","required": "required","readonly":"readonly"})
                    #formInput({"name": "可分配利润"} {"name": "pePrice", "value":"$!{goods.pePrice}","id": "pePrice","required": "required","readonly":"readonly"})
        #end
    #end
        #end
    #end
    #@script()
        #@jsValidate("form_insert")
        #end
    #end
#end