#@html()
<link rel="stylesheet" type="text/css" href="/css/backstage/bootstrap-fileupload.min.css"/>
<link rel="stylesheet" href="/summernote/summernote.css">
    #@wrapper()
        #@panel()
            #@panelHeader({"title":"充值申请", "perm": "system:member:view", "isBack": false, "href": "front/invest/list"})
                #btn({"btnName":"保存", "icon":"fa-save", "style":"primary",  "attr":{"data-button": "save", "data-form-id": "form_insert"}})
            #end
            #@panelBody()
                #@form("form_insert" true "post" "front/invest/save")

                <input type="hidden" name="id" value="$!{invest.id}">
                <input type="hidden" name="certificateImgSrc" value="$!{invest.certificateImgSrc}">
                    #formInput({"name": "会员ID"} {"name": "memberId", "value":"$!{invest.memberId}","id": "memberId","required": "required", "readonly":"readonly"})
                    #formInput({"name": "申请金额（元）"} {"name": "accountMoney", "value":"$!{invest.accountMoney}","id": "accountMoney","required": "required"})
                <div class="form-group">
                    <label class="col-sm-2 control-label">截图凭证<font color="red">*</font>：</label>
                    <div class="col-sm-3">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" >
                                <img src="/img/add-file.png" alt="" id="certificateImgSrc"  value="$!{invest.certificateImgSrc}"
                                     style="max-width: 200px; max-height: 150px; line-height: 20px;"/>
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail"
                                 style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div id="btn_div_front">
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i> 选择照片</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i> 重新选择</span>
                            <input type="file" class="default" name="file" id="certificateImgSrc"  />
                        </span>
                                <a href=" " class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i
                                        class="fa fa-trash"></i> 删除</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">请往以下账户打款</label>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司账户：</label>
                    <div class="col-sm-2" style="margin-top: 5px">
                        $!{tableSystemConfig.sysBankNumber}
                    </div>
                    <label class="col-sm-1 control-label">银行卡：</label>
                    <div class="col-sm-2" style="margin-top: 5px">
                        $!{tableSystemConfig.sysBankName}
                    </div>
                    <label class="col-sm-1 control-label">开户行：</label>
                    <div class="col-sm-2" style="margin-top: 5px">
                        $!{tableSystemConfig.sysBankOpenAre}
                    </div>
                </div>
                #end
            #end
        #end
    #end
    #@script()

        #scriptSrc("/summernote/summernote.js")
        #scriptSrc("/summernote/lang/summernote-zh-CN.js")
        #scriptSrc("/js/backstage/bootstrap-fileupload.min.js")


    <script>

        $(document).ready(function() {
            $('.summernote').summernote({
//                toolbar: [
//                    ['style', ['bold', 'italic', 'underline']],
//                    ['fontsize', ['fontsize']],
//                    ['para', ['paragraph']],
//                    ['height', ['height']]
//                ],
                height: 400,
                tabsize: 2,
                lang: 'zh-CN',
                callbacks: {
                    onImageUpload: function(files) {
                        //上传图片到服务器，使用了formData对象，至于兼容性...据说对低版本IE不太友好
                        var formData = new FormData();
                        formData.append('file',files[0]);
                        $.ajax({
                            url : '$!{ctx}/notice/upload',//后台文件上传接口
                            type : 'POST',
                            data : formData,
                            processData : false,
                            contentType : false,
                            success : function(data) {
//                            alert(data);
                                $('#summernote').summernote('insertImage',data,'img');
                            }
                        });
                    }
                }

            });


        });

    </script>
        #@jsValidate("form_insert")
        #end
    #end
#end